In [1]:
import pandas as pd
import os

base_dir = '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data'

In [2]:
dir_lst = []
for data_file in os.listdir(base_dir):
    dir_lst.append(os.path.join(base_dir,data_file))

In [3]:
country_lst = ['Australia','Canada','China','France','Germany','India','Iran','Italy','Japan','Netherlands','South Korea','Spain','Taiwan','United Kingdom', 'United States']

In [4]:
dir_lst

['/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Australia.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Canada.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-China.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-France.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Germany.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-India.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Iran.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Italy.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Japan.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Netherlands.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-SouthKorea.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Spain.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-Taiwan.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-UK.csv',
 '/mnt/General_Stuff/Study Stuff/Documents/CDS/Sem-II/BigDataAnalytics/BigData-Programs/Mini-Project/Data/Artificial-Intelligence-US.csv']

In [5]:
print(len(dir_lst))

15

In [6]:
df_lst = []
for data_file, country in zip(dir_lst, country_lst):
        print(country)
        df_tmp = pd.read_csv(data_file).drop(['Author(s) ID' ,'Source title','Volume', 'Issue', 'Art. No.', 'Page start', 'Page end', 'Page count', 'DOI', 'Link', 'Document Type', 'Publication Stage','Open Access', 'Source', 'EID'],axis='columns').fillna(0)
        df_tmp['Country'] = country
        df_lst.append(df_tmp)

Australia
Canada
China
France
Germany
India
Iran
Italy
Japan
Netherlands
South Korea
Spain
Taiwan
United Kingdom
United States

In [7]:
df_lst[0]

,Authors,Title,Year,Cited by,Country
0,"Soares, J.V.B., Leandro, J.J.G., Cesar Jr., R....",Retinal vessel segmentation using the 2-D Gabo...,2006,1083.0,Australia
1,"Scarselli, F., Gori, M., Tsoi, A.C., Hagenbuch...",The graph neural network model,2009,1031.0,Australia
2,"Karantonis, D.M., Narayanan, M.R., Mathie, M.,...",Implementation of a real-time human movement c...,2006,908.0,Australia
3,"Mirjalili, S.",Dragonfly algorithm: a new meta-heuristic opti...,2016,865.0,Australia
4,"Naseem, I., Togneri, R., Bennamoun, M.",Linear regression for face recognition,2010,768.0,Australia
...,...,...,...,...,...
3356,"Roy, G.G., Omari, A.",Expert systems as design aids an application t...,1988,0.0,Australia
3357,"Green, D.G., Reichelt, R.E., Buck, R.G.",Self-adaptive modelling algorithms,1988,0.0,Australia
3358,"Thomson, D.W., Thomson, J.V.",The shortest path through the interior of a po...,1987,0.0,Australia
3359,"Radford, A.D.",Approaches to knowledge-based - architectural ...,1985,0.0,Australia
3360,"Self, J.A.",A state-space model for automatic instruction,1977,0.0,Australia

In [8]:
df = pd.concat(df_lst)

df.to_csv('Merged_Database.csv')

In [9]:
df_1 = pd.read_csv('Complete Database')
df_2 = pd.read_csv('Merged_Database.csv')

In [10]:
df_1.columns == df_2.columns

array([ True,  True,  True,  True,  True,  True])

In [11]:
print(df_1.columns)
print(df_2.columns)

Index(['Unnamed: 0', 'Authors', 'Title', 'Year', 'Cited by', 'Country'], dtype='object')
Index(['Unnamed: 0', 'Authors', 'Title', 'Year', 'Cited by', 'Country'], dtype='object')