In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Database

In [2]:
df = pd.read_csv('./covid 19 data.csv')

In [3]:
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
9286,9287,09/12/20,8:00 AM,Telengana,-,-,266120,1480,275261
9287,9288,09/12/20,8:00 AM,Tripura,-,-,32169,373,32945
9288,9289,09/12/20,8:00 AM,Uttarakhand,-,-,72435,1307,79141
9289,9290,09/12/20,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173
9290,9291,09/12/20,8:00 AM,West Bengal,-,-,475425,8820,507995

# Dropping Un-neccesary Columns

In [4]:
df = df.drop(['Sno','Time','ConfirmedIndianNational','ConfirmedForeignNational'],axis=1)

# Copying Cured, Deaths and Confirmed Columns to get back original value from respective cumulative sums

In [5]:
df['Cured_1'] = df['Cured'].copy()
df['Deaths_1'] = df['Deaths'].copy()
df['Confirmed_1'] = df['Confirmed'].copy()

In [6]:
df.head()

,Date,State/UnionTerritory,Cured,Deaths,Confirmed,Cured_1,Deaths_1,Confirmed_1
0,30/01/20,Kerala,0,0,1,0,0,1
1,31/01/20,Kerala,0,0,1,0,0,1
2,01/02/20,Kerala,0,0,2,0,0,2
3,02/02/20,Kerala,0,0,3,0,0,3
4,03/02/20,Kerala,0,0,3,0,0,3

In [7]:
df = df.rename(columns={'State/UnionTerritory':'State'})

# Extracing States Names from database

In [8]:
states = df['State'].unique()

In [9]:
states

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya', 'Dadar Nagar Haveli',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Dadra and Nagar Haveli and Daman and Diu', 'Telangana',
       'Telangana***', 'Telengana***', 'Maharashtra***', 'Chandigarh***',
       'Punjab***'], dtype=object)

# Renaming Mis-spelled State names

In [10]:
df=df.replace('Telengana','Telangana')
df=df.replace('Telengana***','Telangana')
df=df.replace('Telangana***','Telangana')
df=df.replace('Maharashtra***','Maharashtra')
df=df.replace('Chandigarh***','Chandigarh')
df=df.replace('Punjab***','Punjab')

In [11]:
states = df['State'].unique()

In [12]:
states = list(states)

# Removing Un-necessary entries from states list
## Daman & Diu is removed because of lack of availability of data ---> database contains only 1 entry coresponding to Daman & Diu

In [13]:
states.remove('Cases being reassigned to states')
states.remove('Unassigned')
states.remove('Daman & Diu')

In [14]:
states

['Kerala',
 'Telangana',
 'Delhi',
 'Rajasthan',
 'Uttar Pradesh',
 'Haryana',
 'Ladakh',
 'Tamil Nadu',
 'Karnataka',
 'Maharashtra',
 'Punjab',
 'Jammu and Kashmir',
 'Andhra Pradesh',
 'Uttarakhand',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'Chhattisgarh',
 'Chandigarh',
 'Gujarat',
 'Himachal Pradesh',
 'Madhya Pradesh',
 'Bihar',
 'Manipur',
 'Mizoram',
 'Andaman and Nicobar Islands',
 'Goa',
 'Assam',
 'Jharkhand',
 'Arunachal Pradesh',
 'Tripura',
 'Nagaland',
 'Meghalaya',
 'Dadar Nagar Haveli',
 'Sikkim',
 'Dadra and Nagar Haveli and Daman and Diu']

In [15]:
df.isnull().sum()

Date           0
State          0
Cured          0
Deaths         0
Confirmed      0
Cured_1        0
Deaths_1       0
Confirmed_1    0
dtype: int64

# Adding Months column into database and removing Dates column

In [16]:
df['Month'] = pd.DatetimeIndex(df['Date']).month

In [17]:
df.drop('Date',axis=1,inplace=True)

# Creating a dictonary with keys as state names and their corresponding data

In [18]:
state_dct_df ={}
for i in states:
    state_dct_df[i] = df[df.State == i].copy().reset_index().drop(['index'],axis=1)

In [19]:
state_dct_df['Karnataka'].head()

       State  Cured  Deaths  Confirmed  Cured_1  Deaths_1  Confirmed_1  Month
0  Karnataka      0       0          1        0         0            1      9
1  Karnataka      0       0          4        0         0            4     10
2  Karnataka      0       0          4        0         0            4     11
3  Karnataka      0       0          4        0         0            4     12
4  Karnataka      0       1          6        0         1            6      3

# Creating a Dictonary to Keep count of number of entries in database corresponding to each state

In [20]:
row_count_dct = {}
for i in states:
    row_count_dct[i] = len(np.array(state_dct_df[i]))

In [21]:
row_count_dct

{'Kerala': 315,
 'Telangana': 283,
 'Delhi': 283,
 'Rajasthan': 282,
 'Uttar Pradesh': 281,
 'Haryana': 281,
 'Ladakh': 278,
 'Tamil Nadu': 278,
 'Karnataka': 276,
 'Maharashtra': 276,
 'Punjab': 276,
 'Jammu and Kashmir': 276,
 'Andhra Pradesh': 273,
 'Uttarakhand': 270,
 'Odisha': 269,
 'Puducherry': 267,
 'West Bengal': 267,
 'Chhattisgarh': 266,
 'Chandigarh': 266,
 'Gujarat': 265,
 'Himachal Pradesh': 264,
 'Madhya Pradesh': 264,
 'Bihar': 263,
 'Manipur': 261,
 'Mizoram': 260,
 'Andaman and Nicobar Islands': 259,
 'Goa': 259,
 'Assam': 253,
 'Jharkhand': 253,
 'Arunachal Pradesh': 251,
 'Tripura': 247,
 'Nagaland': 207,
 'Meghalaya': 240,
 'Dadar Nagar Haveli': 37,
 'Sikkim': 200,
 'Dadra and Nagar Haveli and Daman and Diu': 181}

# Getting Back Original values of cured, deaths and confirmed from cumulative sum

In [22]:
for s in states:
    for i in range(1,row_count_dct[s]):
            state_dct_df[s].iloc[i,1] -= state_dct_df[s].iloc[i-1,4]
            state_dct_df[s].iloc[i,2] -= state_dct_df[s].iloc[i-1,5]
            state_dct_df[s].iloc[i,3] -= state_dct_df[s].iloc[i-1,6]

# Removing dummy columns which were added for above calculations

In [23]:
for s in states:
    state_dct_df[s].drop(['Cured_1','Deaths_1','Confirmed_1'],axis=1,inplace=True)

In [24]:
state_dct_df['Maharashtra']

           State  Cured  Deaths  Confirmed  Month
0    Maharashtra      0       0          2      9
1    Maharashtra      0       0          3     10
2    Maharashtra      0       0         -3     11
3    Maharashtra      0       0          9     12
4    Maharashtra      0       0          3      3
..           ...    ...     ...        ...    ...
271  Maharashtra   6776     127       5229      5
272  Maharashtra   5834      95       4922      6
273  Maharashtra   7486      40       4757      7
274  Maharashtra   7345      40       3075      8
275  Maharashtra   6365      53       4026      9

[276 rows x 5 columns]

# As some of the entries in database turns out to be negative, now we will get back there indices and aftwerwards remove those entries
## Negative entries can occur in cured, deaths and confirmed columns

In [25]:
check_neg_cured = {}
check_neg_deaths = {}
check_neg_confirmed = {}
for s in states:
    index_cured = []
    index_deaths = []
    index_confirmed = []
    
    for i in range(row_count_dct[s]):
        if(state_dct_df[s].iloc[i,1]<0):
            index_cured.append(i)
        if(state_dct_df[s].iloc[i,2]<0):
            index_deaths.append(i)
        if(state_dct_df[s].iloc[i,3]<0):
            index_confirmed.append(i)

    check_neg_cured[s] = index_cured
    check_neg_deaths[s] = index_deaths
    check_neg_confirmed[s] = index_confirmed

In [26]:
for s in states:
    state_dct_df[s].drop(check_neg_cured[s],axis=0,inplace=True)
    state_dct_df[s].drop(check_neg_deaths[s],axis=0,inplace=True)
    state_dct_df[s].drop(check_neg_confirmed[s],axis=0,inplace=True)

In [27]:
row_count_dct = {}
for i in states:
    row_count_dct[i] = len(np.array(state_dct_df[i]))

# Recreating Statewise database dictonary after removing all the entries which are invalid for calculation

In [28]:
state_dct_df ={}
for i in states:
    state_dct_df[i] = df[df.State == i].copy().reset_index().drop(['index'],axis=1)

In [29]:
for s in states:
    for i in range(1,row_count_dct[s]):
            state_dct_df[s].iloc[i,1] -= state_dct_df[s].iloc[i-1,4]
            state_dct_df[s].iloc[i,2] -= state_dct_df[s].iloc[i-1,5]
            state_dct_df[s].iloc[i,3] -= state_dct_df[s].iloc[i-1,6]

In [30]:
for s in states:
    state_dct_df[s].drop(['Cured_1','Deaths_1','Confirmed_1'],axis=1,inplace=True)

# Creating Months Dictonary

In [31]:
df_Mh = state_dct_df['Maharashtra']
months = df_Mh['Month'].unique()

In [32]:
df_Mh

           State    Cured  Deaths  Confirmed  Month
0    Maharashtra        0       0          2      9
1    Maharashtra        0       0          3     10
2    Maharashtra        0       0         -3     11
3    Maharashtra        0       0          9     12
4    Maharashtra        0       0          3      3
..           ...      ...     ...        ...    ...
271  Maharashtra     6776     127       5229      5
272  Maharashtra     5834      95       4922      6
273  Maharashtra     7486      40       4757      7
274  Maharashtra  1730715   47774    1855341      8
275  Maharashtra  1737080   47827    1859367      9

[276 rows x 5 columns]

In [33]:
months

array([ 9, 10, 11, 12,  3,  1,  2,  4,  5,  6,  7,  8])

# Summing of Total cases monthwise

In [34]:
dct_months_all={}
for i in months:
    dct_months_all[i] = 0

In [35]:
for s in states:
    for i in range(row_count_dct[s]):
        dct_months_all[state_dct_df[s].iloc[i,4]] +=  state_dct_df[s].iloc[i,3]

In [36]:
dct_months_all

{9: 1897535,
 10: 1326201,
 11: 1059723,
 12: 318335,
 3: 324750,
 1: 321055,
 2: 325452,
 4: 355034,
 5: 445467,
 6: 599100,
 7: 1136828,
 8: 1612690}

## Q1.Filter the month in which heighest people are get infected to Covid-19 virus?

In [37]:
peak_month = 0
peak_val = 0
for i in months:
    if dct_months_all[i]>peak_val:
        peak_val = dct_months_all[i]
        peak_month = i

In [38]:
print(f"Peak Month = {peak_month}\nPeak Cases = {peak_val}")

Peak Month = 9
Peak Cases = 1897535

# Survival Rate = Cured/Confirmed
## Q2.Obtain state in which survival rate is high

In [39]:
survival_rate ={}
for s in states:
    total_confirmed = 0
    total_cured = 0
    for i in range(row_count_dct[s]):
       total_confirmed += state_dct_df[s].iloc[i,3]
       total_cured += state_dct_df[s].iloc[i,1]
    survival_rate[s] = (total_cured/total_confirmed)

survival_rate

In [40]:
max_survival_rate_state = 0
max_survival_rate = 0
for i in states:
    if survival_rate[i]>max_survival_rate:
        max_survival_rate = survival_rate[i]
        max_survival_rate_state = i


print(f'State with maximum Survival Rate = "{max_survival_rate_state}"\nSurvival Rate = {max_survival_rate}')

State with maximum Survival Rate = "Dadra and Nagar Haveli and Daman and Diu"
Survival Rate = 0.9937332139659804

state_dct_df['Dadra and Nagar Haveli and Daman and Diu']

# Death Rate = Deaths/Confirmed
## Q3.Check for state in which death rate is more than 1%

In [41]:
death_rate ={}
for s in states:
    total_confirmed = 0
    death_deaths = 0
    for i in range(row_count_dct[s]):
       total_confirmed += state_dct_df[s].iloc[i,3]
       death_deaths += state_dct_df[s].iloc[i,2]
    death_rate[s] = (death_deaths/total_confirmed)

death_rate

In [42]:
states_with_death_rate_more_than_one_percent = []
for i in states:
    if death_rate[i]>0.01:
        states_with_death_rate_more_than_one_percent.append(i)

In [44]:
print('States with death rate of more than 1%:\n')
for i in states_with_death_rate_more_than_one_percent:
    print(i)

States with death rate of more than 1%:

Delhi
Uttar Pradesh
Haryana
Ladakh
Tamil Nadu
Karnataka
Maharashtra
Punjab
Jammu and Kashmir
Uttarakhand
Puducherry
West Bengal
Chhattisgarh
Chandigarh
Gujarat
Himachal Pradesh
Madhya Pradesh
Manipur
Andaman and Nicobar Islands
Goa
Tripura
Sikkim