# COVID-19 Database Analysis

In [1]:
import pandas as pd
import numpy as np

# Importing Database

In [2]:
df = pd.read_csv('./covid 19 data.csv')

In [3]:
df.head(5)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [4]:
df.tail(5)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
9286,9287,09/12/20,8:00 AM,Telengana,-,-,266120,1480,275261
9287,9288,09/12/20,8:00 AM,Tripura,-,-,32169,373,32945
9288,9289,09/12/20,8:00 AM,Uttarakhand,-,-,72435,1307,79141
9289,9290,09/12/20,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173
9290,9291,09/12/20,8:00 AM,West Bengal,-,-,475425,8820,507995

# Dropping Un-neccesary Columns

In [5]:
df = df.drop(['Sno','Time','ConfirmedIndianNational','ConfirmedForeignNational'],axis=1)

In [6]:
df = df.rename(columns={'State/UnionTerritory':'State'})

In [7]:
df

          Date          State   Cured  Deaths  Confirmed
0     30/01/20         Kerala       0       0          1
1     31/01/20         Kerala       0       0          1
2     01/02/20         Kerala       0       0          2
3     02/02/20         Kerala       0       0          3
4     03/02/20         Kerala       0       0          3
...        ...            ...     ...     ...        ...
9286  09/12/20      Telengana  266120    1480     275261
9287  09/12/20        Tripura   32169     373      32945
9288  09/12/20    Uttarakhand   72435    1307      79141
9289  09/12/20  Uttar Pradesh  528832    7967     558173
9290  09/12/20    West Bengal  475425    8820     507995

[9291 rows x 5 columns]

In [8]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst = True)

In [9]:
df

           Date          State   Cured  Deaths  Confirmed
0    2020-01-30         Kerala       0       0          1
1    2020-01-31         Kerala       0       0          1
2    2020-02-01         Kerala       0       0          2
3    2020-02-02         Kerala       0       0          3
4    2020-02-03         Kerala       0       0          3
...         ...            ...     ...     ...        ...
9286 2020-12-09      Telengana  266120    1480     275261
9287 2020-12-09        Tripura   32169     373      32945
9288 2020-12-09    Uttarakhand   72435    1307      79141
9289 2020-12-09  Uttar Pradesh  528832    7967     558173
9290 2020-12-09    West Bengal  475425    8820     507995

[9291 rows x 5 columns]

# Extracing States Names from database

In [10]:
states = df['State'].unique()

In [11]:
states

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya', 'Dadar Nagar Haveli',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Dadra and Nagar Haveli and Daman and Diu', 'Telangana',
       'Telangana***', 'Telengana***', 'Maharashtra***', 'Chandigarh***',
       'Punjab***'], dtype=object)

# Renaming Mis-spelled State names

In [12]:
df=df.replace('Telengana','Telangana')
df=df.replace('Telengana***','Telangana')
df=df.replace('Telangana***','Telangana')
df=df.replace('Maharashtra***','Maharashtra')
df=df.replace('Chandigarh***','Chandigarh')
df=df.replace('Punjab***','Punjab')

In [13]:
states = df['State'].unique()

In [14]:
states = list(states)   # Numpy array to python list

In [15]:
states

['Kerala',
 'Telangana',
 'Delhi',
 'Rajasthan',
 'Uttar Pradesh',
 'Haryana',
 'Ladakh',
 'Tamil Nadu',
 'Karnataka',
 'Maharashtra',
 'Punjab',
 'Jammu and Kashmir',
 'Andhra Pradesh',
 'Uttarakhand',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'Chhattisgarh',
 'Chandigarh',
 'Gujarat',
 'Himachal Pradesh',
 'Madhya Pradesh',
 'Bihar',
 'Manipur',
 'Mizoram',
 'Andaman and Nicobar Islands',
 'Goa',
 'Unassigned',
 'Assam',
 'Jharkhand',
 'Arunachal Pradesh',
 'Tripura',
 'Nagaland',
 'Meghalaya',
 'Dadar Nagar Haveli',
 'Cases being reassigned to states',
 'Sikkim',
 'Daman & Diu',
 'Dadra and Nagar Haveli and Daman and Diu']

# Removing Un-necessary entries from states list
## Daman & Diu is removed because of lack of availability of data ---> database contains only 1 entry coresponding to Daman & Diu

In [16]:
df[df.State == 'Daman & Diu']

           Date        State  Cured  Deaths  Confirmed
2890 2020-06-11  Daman & Diu      0       0          2

In [17]:
states.remove('Cases being reassigned to states')
states.remove('Unassigned')
states.remove('Daman & Diu')

In [18]:
states

['Kerala',
 'Telangana',
 'Delhi',
 'Rajasthan',
 'Uttar Pradesh',
 'Haryana',
 'Ladakh',
 'Tamil Nadu',
 'Karnataka',
 'Maharashtra',
 'Punjab',
 'Jammu and Kashmir',
 'Andhra Pradesh',
 'Uttarakhand',
 'Odisha',
 'Puducherry',
 'West Bengal',
 'Chhattisgarh',
 'Chandigarh',
 'Gujarat',
 'Himachal Pradesh',
 'Madhya Pradesh',
 'Bihar',
 'Manipur',
 'Mizoram',
 'Andaman and Nicobar Islands',
 'Goa',
 'Assam',
 'Jharkhand',
 'Arunachal Pradesh',
 'Tripura',
 'Nagaland',
 'Meghalaya',
 'Dadar Nagar Haveli',
 'Sikkim',
 'Dadra and Nagar Haveli and Daman and Diu']

In [19]:
df.isnull().sum()

Date         0
State        0
Cured        0
Deaths       0
Confirmed    0
dtype: int64

# Adding Months column into database and removing Dates column

In [20]:
df['Month'] = pd.DatetimeIndex(df['Date']).month

In [21]:
df

           Date          State   Cured  Deaths  Confirmed  Month
0    2020-01-30         Kerala       0       0          1      1
1    2020-01-31         Kerala       0       0          1      1
2    2020-02-01         Kerala       0       0          2      2
3    2020-02-02         Kerala       0       0          3      2
4    2020-02-03         Kerala       0       0          3      2
...         ...            ...     ...     ...        ...    ...
9286 2020-12-09      Telangana  266120    1480     275261     12
9287 2020-12-09        Tripura   32169     373      32945     12
9288 2020-12-09    Uttarakhand   72435    1307      79141     12
9289 2020-12-09  Uttar Pradesh  528832    7967     558173     12
9290 2020-12-09    West Bengal  475425    8820     507995     12

[9291 rows x 6 columns]

In [22]:
df.drop('Date',axis=1,inplace=True)

In [23]:
df

              State   Cured  Deaths  Confirmed  Month
0            Kerala       0       0          1      1
1            Kerala       0       0          1      1
2            Kerala       0       0          2      2
3            Kerala       0       0          3      2
4            Kerala       0       0          3      2
...             ...     ...     ...        ...    ...
9286      Telangana  266120    1480     275261     12
9287        Tripura   32169     373      32945     12
9288    Uttarakhand   72435    1307      79141     12
9289  Uttar Pradesh  528832    7967     558173     12
9290    West Bengal  475425    8820     507995     12

[9291 rows x 5 columns]

# Creating a dictonary with keys as state names and their corresponding data

In [24]:
state_dct_df ={}
for i in states:
    state_dct_df[i] = df[df.State == i].copy().reset_index().drop(['index'],axis=1)

In [25]:
state_dct_df['Maharashtra']

           State    Cured  Deaths  Confirmed  Month
0    Maharashtra        0       0          2      3
1    Maharashtra        0       0          5      3
2    Maharashtra        0       0          2      3
3    Maharashtra        0       0         11      3
4    Maharashtra        0       0         14      3
..           ...      ...     ...        ...    ...
271  Maharashtra  1710050   47599    1842587     12
272  Maharashtra  1715884   47694    1847509     12
273  Maharashtra  1723370   47734    1852266     12
274  Maharashtra  1730715   47774    1855341     12
275  Maharashtra  1737080   47827    1859367     12

[276 rows x 5 columns]

# Creating a Dictonary to Keep count of number of entries i.e. number of days for which data is available in database corresponding to each state

In [26]:
row_count_dct_or_day_count_dct = {}
for i in states:
    rows, columns = state_dct_df[i].shape
    row_count_dct_or_day_count_dct[i] = rows

In [27]:
row_count_dct_or_day_count_dct

{'Kerala': 315,
 'Telangana': 283,
 'Delhi': 283,
 'Rajasthan': 282,
 'Uttar Pradesh': 281,
 'Haryana': 281,
 'Ladakh': 278,
 'Tamil Nadu': 278,
 'Karnataka': 276,
 'Maharashtra': 276,
 'Punjab': 276,
 'Jammu and Kashmir': 276,
 'Andhra Pradesh': 273,
 'Uttarakhand': 270,
 'Odisha': 269,
 'Puducherry': 267,
 'West Bengal': 267,
 'Chhattisgarh': 266,
 'Chandigarh': 266,
 'Gujarat': 265,
 'Himachal Pradesh': 264,
 'Madhya Pradesh': 264,
 'Bihar': 263,
 'Manipur': 261,
 'Mizoram': 260,
 'Andaman and Nicobar Islands': 259,
 'Goa': 259,
 'Assam': 253,
 'Jharkhand': 253,
 'Arunachal Pradesh': 251,
 'Tripura': 247,
 'Nagaland': 207,
 'Meghalaya': 240,
 'Dadar Nagar Haveli': 37,
 'Sikkim': 200,
 'Dadra and Nagar Haveli and Daman and Diu': 181}

In [28]:
state_dct_df['Maharashtra']

           State    Cured  Deaths  Confirmed  Month
0    Maharashtra        0       0          2      3
1    Maharashtra        0       0          5      3
2    Maharashtra        0       0          2      3
3    Maharashtra        0       0         11      3
4    Maharashtra        0       0         14      3
..           ...      ...     ...        ...    ...
271  Maharashtra  1710050   47599    1842587     12
272  Maharashtra  1715884   47694    1847509     12
273  Maharashtra  1723370   47734    1852266     12
274  Maharashtra  1730715   47774    1855341     12
275  Maharashtra  1737080   47827    1859367     12

[276 rows x 5 columns]

# Getting Back per day count of cured, deaths and confirmed cases from cumulative sum

In [29]:
# Here we're getting back per day cases from cumulative sum

for s in states:
    for i in range(row_count_dct_or_day_count_dct[s]-1,0,-1):
            state_dct_df[s].iloc[i,1] -= state_dct_df[s].iloc[i-1,1]
            state_dct_df[s].iloc[i,2] -= state_dct_df[s].iloc[i-1,2]
            state_dct_df[s].iloc[i,3] -= state_dct_df[s].iloc[i-1,3]

In [30]:
state_dct_df['Maharashtra']

           State  Cured  Deaths  Confirmed  Month
0    Maharashtra      0       0          2      3
1    Maharashtra      0       0          3      3
2    Maharashtra      0       0         -3      3
3    Maharashtra      0       0          9      3
4    Maharashtra      0       0          3      3
..           ...    ...     ...        ...    ...
271  Maharashtra   6776     127       5229     12
272  Maharashtra   5834      95       4922     12
273  Maharashtra   7486      40       4757     12
274  Maharashtra   7345      40       3075     12
275  Maharashtra   6365      53       4026     12

[276 rows x 5 columns]

# As some of the entries in database turns out to be negative, now we will get back there indices and aftwerwards remove those entries
## Negative entries can occur in cured, deaths and confirmed columns

In [31]:
check_neg_cured = {}
check_neg_deaths = {}
check_neg_confirmed = {}
for s in states:
    index_cured = []
    index_deaths = []
    index_confirmed = []
    
    for i in range(row_count_dct_or_day_count_dct[s]):
        if(state_dct_df[s].iloc[i,1]<0):
            index_cured.append(i)
        if(state_dct_df[s].iloc[i,2]<0):
            index_deaths.append(i)
        if(state_dct_df[s].iloc[i,3]<0):
            index_confirmed.append(i)

    check_neg_cured[s] = index_cured
    check_neg_deaths[s] = index_deaths
    check_neg_confirmed[s] = index_confirmed

In [32]:
check_neg_cured

{'Kerala': [],
 'Telangana': [],
 'Delhi': [],
 'Rajasthan': [],
 'Uttar Pradesh': [11],
 'Haryana': [],
 'Ladakh': [],
 'Tamil Nadu': [],
 'Karnataka': [],
 'Maharashtra': [],
 'Punjab': [],
 'Jammu and Kashmir': [],
 'Andhra Pradesh': [],
 'Uttarakhand': [],
 'Odisha': [],
 'Puducherry': [],
 'West Bengal': [16],
 'Chhattisgarh': [],
 'Chandigarh': [],
 'Gujarat': [],
 'Himachal Pradesh': [],
 'Madhya Pradesh': [],
 'Bihar': [],
 'Manipur': [],
 'Mizoram': [],
 'Andaman and Nicobar Islands': [],
 'Goa': [],
 'Assam': [],
 'Jharkhand': [],
 'Arunachal Pradesh': [],
 'Tripura': [],
 'Nagaland': [],
 'Meghalaya': [],
 'Dadar Nagar Haveli': [],
 'Sikkim': [],
 'Dadra and Nagar Haveli and Daman and Diu': []}

# Removing all the entries which are invalid/negative for calculation from Statewise database dictonary

In [33]:
for i in states:
    state_dct_df[i] = df[df.State == i].copy().reset_index().drop(['index'],axis=1)

In [34]:
for s in states:
    state_dct_df[s].drop(check_neg_cured[s],axis=0,inplace=True)
    state_dct_df[s].drop(check_neg_deaths[s],axis=0,inplace=True)
    state_dct_df[s].drop(check_neg_confirmed[s],axis=0,inplace=True)

In [35]:
state_dct_df['Maharashtra']

           State    Cured  Deaths  Confirmed  Month
0    Maharashtra        0       0          2      3
1    Maharashtra        0       0          5      3
3    Maharashtra        0       0         11      3
4    Maharashtra        0       0         14      3
5    Maharashtra        0       0         14      3
..           ...      ...     ...        ...    ...
271  Maharashtra  1710050   47599    1842587     12
272  Maharashtra  1715884   47694    1847509     12
273  Maharashtra  1723370   47734    1852266     12
274  Maharashtra  1730715   47774    1855341     12
275  Maharashtra  1737080   47827    1859367     12

[274 rows x 5 columns]

## Calculating Updated row count for each state and putting it in dictonary

In [36]:
for i in states:
    rows, columns = state_dct_df[i].shape
    row_count_dct_or_day_count_dct[i] = rows

In [37]:
row_count_dct_or_day_count_dct

{'Kerala': 315,
 'Telangana': 283,
 'Delhi': 283,
 'Rajasthan': 281,
 'Uttar Pradesh': 280,
 'Haryana': 281,
 'Ladakh': 278,
 'Tamil Nadu': 278,
 'Karnataka': 276,
 'Maharashtra': 274,
 'Punjab': 276,
 'Jammu and Kashmir': 276,
 'Andhra Pradesh': 273,
 'Uttarakhand': 270,
 'Odisha': 269,
 'Puducherry': 266,
 'West Bengal': 266,
 'Chhattisgarh': 266,
 'Chandigarh': 266,
 'Gujarat': 265,
 'Himachal Pradesh': 264,
 'Madhya Pradesh': 264,
 'Bihar': 263,
 'Manipur': 261,
 'Mizoram': 260,
 'Andaman and Nicobar Islands': 259,
 'Goa': 259,
 'Assam': 253,
 'Jharkhand': 252,
 'Arunachal Pradesh': 251,
 'Tripura': 247,
 'Nagaland': 206,
 'Meghalaya': 240,
 'Dadar Nagar Haveli': 37,
 'Sikkim': 200,
 'Dadra and Nagar Haveli and Daman and Diu': 181}

# Again Calculating Absolute values from cumulative sum

In [38]:
for s in states:
    for i in range(row_count_dct_or_day_count_dct[s]-1,0,-1):
            state_dct_df[s].iloc[i,1] -= state_dct_df[s].iloc[i-1,1]
            state_dct_df[s].iloc[i,2] -= state_dct_df[s].iloc[i-1,2]
            state_dct_df[s].iloc[i,3] -= state_dct_df[s].iloc[i-1,3]

# Summing confirmed cases monthwise

In [39]:
months = np.arange(1,13,1)
months

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [40]:
state_dct_df['Maharashtra'].head()

         State  Cured  Deaths  Confirmed  Month
0  Maharashtra      0       0          2      3
1  Maharashtra      0       0          3      3
3  Maharashtra      0       0          6      3
4  Maharashtra      0       0          3      3
5  Maharashtra      0       0          0      3

In [41]:
month_wise_sum_of_confirmed_cases_dct={}

# Initializing Dictonary
for i in months:
    month_wise_sum_of_confirmed_cases_dct[i] = 0

# Summing cases month-wise
for s in states:
    for i in range(row_count_dct_or_day_count_dct[s]):
        month_wise_sum_of_confirmed_cases_dct[state_dct_df[s].iloc[i,4]] +=  state_dct_df[s].iloc[i,3]

In [42]:
month_wise_sum_of_confirmed_cases_dct

{1: 1,
 2: 2,
 3: 1356,
 4: 31971,
 5: 143322,
 6: 383210,
 7: 1079034,
 8: 1982375,
 9: 2604518,
 10: 1911356,
 11: 1294572,
 12: 304159}

## Q1.Filter the month in which heighest people are get infected to Covid-19 virus?

In [43]:
peak_month = 0
peak_val = 0
for i in months:
    if month_wise_sum_of_confirmed_cases_dct[i]>peak_val:
        peak_val = month_wise_sum_of_confirmed_cases_dct[i]
        peak_month = i

In [44]:
print(f"Peak Month = {peak_month}\nPeak Cases = {peak_val}")

Peak Month = 9
Peak Cases = 2604518

# Survival Rate = Total Cured/(Total Confirmed*Total number of months for which data is available)
## Q2.Obtain state in which survival rate is high

In [45]:
survival_rate ={}
for s in states:
    total_confirmed = 0
    total_cured = 0
    for i in range(row_count_dct_or_day_count_dct[s]):
       total_confirmed += state_dct_df[s].iloc[i,3]
       total_cured += state_dct_df[s].iloc[i,1]
    factor = (row_count_dct_or_day_count_dct[s]/365)*12
    survival_rate[s] = (total_cured/(total_confirmed*factor))

In [46]:
survival_rate

{'Kerala': 0.08722297882343857,
 'Telangana': 0.10391016019493547,
 'Delhi': 0.1017062890076429,
 'Rajasthan': 0.09935099708743428,
 'Uttar Pradesh': 0.1029206425418711,
 'Haryana': 0.10185051486100315,
 'Ladakh': 0.09827481976956065,
 'Tamil Nadu': 0.10631967162991153,
 'Karnataka': 0.1056613715720078,
 'Maharashtra': 0.10370883525849273,
 'Punjab': 0.10163298794009995,
 'Jammu and Kashmir': 0.1036763753975389,
 'Andhra Pradesh': 0.10982446022585154,
 'Uttarakhand': 0.10310857508422613,
 'Odisha': 0.11133686358437969,
 'Puducherry': 0.11127444055718348,
 'West Bengal': 0.10701694750562563,
 'Chhattisgarh': 0.10402583607907026,
 'Chandigarh': 0.10646141162984768,
 'Gujarat': 0.10525413909896267,
 'Himachal Pradesh': 0.09444154620598312,
 'Madhya Pradesh': 0.10639309264609538,
 'Bihar': 0.11238642781192737,
 'Manipur': 0.10227842776596245,
 'Mizoram': 0.11095691250330426,
 'Andaman and Nicobar Islands': 0.11421900732281647,
 'Goa': 0.1126126783631637,
 'Assam': 0.11765568343362025,
 'Jharkhand': 0.11771077809613047,
 'Arunachal Pradesh': 0.11567467430272826,
 'Tripura': 0.1202438059260834,
 'Nagaland': 0.13867538753051514,
 'Meghalaya': 0.11934232026143791,
 'Dadar Nagar Haveli': 0.06323631323631324,
 'Sikkim': 0.13808525087887502,
 'Dadra and Nagar Haveli and Daman and Diu': 0.1669947620154617}

In [47]:
max_survival_rate_state = 0
max_survival_rate = 0
for i in states:
    if survival_rate[i]>max_survival_rate:
        max_survival_rate = survival_rate[i]
        max_survival_rate_state = i

print(f'State with maximum Survival Rate (per month) = "{max_survival_rate_state}"\nSurvival Rate (per month) = {max_survival_rate}')

State with maximum Survival Rate (per month) = "Dadra and Nagar Haveli and Daman and Diu"
Survival Rate (per month) = 0.1669947620154617

In [48]:
state_dct_df['Dadra and Nagar Haveli and Daman and Diu']

                                        State  Cured  Deaths  Confirmed  Month
0    Dadra and Nagar Haveli and Daman and Diu      2       0         30      6
1    Dadra and Nagar Haveli and Daman and Diu      0       0          0      6
2    Dadra and Nagar Haveli and Daman and Diu      0       0          5      6
3    Dadra and Nagar Haveli and Daman and Diu      0       0          1      6
4    Dadra and Nagar Haveli and Daman and Diu      3       0          0      6
..                                        ...    ...     ...        ...    ...
176  Dadra and Nagar Haveli and Daman and Diu      2       0          0     12
177  Dadra and Nagar Haveli and Daman and Diu      0       0          1     12
178  Dadra and Nagar Haveli and Daman and Diu      0       0          1     12
179  Dadra and Nagar Haveli and Daman and Diu      2       0          4     12
180  Dadra and Nagar Haveli and Daman and Diu      2       0          5     12

[181 rows x 5 columns]

# Death Rate = Total Deaths/(Total Confirmed*Total number of months for which data is available)
## Q3.Check for state in which death rate is more than 1%

In [49]:
death_rate ={}
for s in states:
    total_confirmed = 0
    total_deaths = 0
    for i in range(row_count_dct_or_day_count_dct[s]):
       total_confirmed += state_dct_df[s].iloc[i,3]
       total_deaths += state_dct_df[s].iloc[i,2]
    factor = (row_count_dct_or_day_count_dct[s]/366)*12
    death_rate[s] = (total_deaths/(total_confirmed*factor))

In [50]:
death_rate

{'Kerala': 0.00037126394603407024,
 'Telangana': 0.0005794693049627694,
 'Delhi': 0.0017621419651157654,
 'Rajasthan': 0.0009428508199422731,
 'Uttar Pradesh': 0.0015547759002521235,
 'Haryana': 0.0011545830326065692,
 'Ladakh': 0.0014923505503769577,
 'Tamil Nadu': 0.0016360212132518538,
 'Karnataka': 0.0014663794806525324,
 'Maharashtra': 0.0028632370017111115,
 'Punjab': 0.003486648982174478,
 'Jammu and Kashmir': 0.001706477322204574,
 'Andhra Pradesh': 0.0009013616368466461,
 'Uttarakhand': 0.0018655638997813093,
 'Odisha': 0.0006283532909102862,
 'Puducherry': 0.0018899766099336145,
 'West Bengal': 0.0019907987076126423,
 'Chhattisgarh': 0.0013890784655100682,
 'Chandigarh': 0.0018608393894435085,
 'Gujarat': 0.0021356780388050935,
 'Himachal Pradesh': 0.0018829531434778073,
 'Madhya Pradesh': 0.0017853068889184525,
 'Bihar': 0.0006299481713915322,
 'Manipur': 0.0013768340611226943,
 'Mizoram': 0.0001769791686814568,
 'Andaman and Nicobar Islands': 0.0015034319136453917,
 'Goa': 0.0016869355890506393,
 'Assam': 0.0005615935949833571,
 'Jharkhand': 0.0010808066330983204,
 'Arunachal Pradesh': 0.0004065989494598111,
 'Tripura': 0.0013980483974333376,
 'Nagaland': 0.0008641783180260788,
 'Meghalaya': 0.001249328498522697,
 'Dadar Nagar Haveli': 0.0,
 'Sikkim': 0.0034213806327900286,
 'Dadra and Nagar Haveli and Daman and Diu': 0.0001005719410879246}

In [51]:
states_with_death_rate_more_than_one_percent = []
for i in states:
    if death_rate[i]>0.01:
        states_with_death_rate_more_than_one_percent.append(i)

In [52]:
print('States with death rate of more than 1%  (per month) :\n')
if(not bool(states_with_death_rate_more_than_one_percent)):     # checking if dictonary is empty
    print("No states have death rate of more than 1%")
else:
    for i in states_with_death_rate_more_than_one_percent:
        print(i)

States with death rate of more than 1%  (per month) :

No states have death rate of more than 1%

# Q1. Filter the month in which heighest people are get infected to Covid-19 virus?

In [53]:
print(f"Peak Month = {peak_month}\nPeak Cases = {peak_val}")

Peak Month = 9
Peak Cases = 2604518

# Q2. Obtain state in which survival rate is high.

In [54]:
print(f'State with maximum Survival Rate (per month) = "{max_survival_rate_state}"\nSurvival Rate (per month) = {max_survival_rate}')

State with maximum Survival Rate (per month) = "Dadra and Nagar Haveli and Daman and Diu"
Survival Rate (per month) = 0.1669947620154617

# Q3. Check for state in which death rate is more than 1%

In [55]:
if(not bool(states_with_death_rate_more_than_one_percent)):     # checking if dictonary is empty
    print("No state has death rate of more than 1% (per month).")
else:
    print('States with death rate of more than 1% (per month):\n')
    for i in states_with_death_rate_more_than_one_percent:
        print(i)

No state has death rate of more than 1% (per month).