In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./covid 19 data.csv')

In [3]:
df['NewDate'] = pd.to_datetime(df['Date'], dayfirst = True)

In [4]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,NewDate
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-30
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-31
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2,2020-02-01
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-02
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-03

In [5]:
df['Month'] = pd.DatetimeIndex(df['NewDate']).month

In [6]:
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,NewDate,Month
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-30,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-31,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2,2020-02-01,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-02,2
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-03,2
...,...,...,...,...,...,...,...,...,...,...,...
9286,9287,09/12/20,8:00 AM,Telengana,-,-,266120,1480,275261,2020-12-09,12
9287,9288,09/12/20,8:00 AM,Tripura,-,-,32169,373,32945,2020-12-09,12
9288,9289,09/12/20,8:00 AM,Uttarakhand,-,-,72435,1307,79141,2020-12-09,12
9289,9290,09/12/20,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173,2020-12-09,12
9290,9291,09/12/20,8:00 AM,West Bengal,-,-,475425,8820,507995,2020-12-09,12

In [7]:
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,NewDate,Month
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-30,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-31,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2,2020-02-01,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-02,2
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-03,2
...,...,...,...,...,...,...,...,...,...,...,...
9286,9287,09/12/20,8:00 AM,Telengana,-,-,266120,1480,275261,2020-12-09,12
9287,9288,09/12/20,8:00 AM,Tripura,-,-,32169,373,32945,2020-12-09,12
9288,9289,09/12/20,8:00 AM,Uttarakhand,-,-,72435,1307,79141,2020-12-09,12
9289,9290,09/12/20,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173,2020-12-09,12
9290,9291,09/12/20,8:00 AM,West Bengal,-,-,475425,8820,507995,2020-12-09,12

df = df['Date'].dt.strftime("%d/%m/%y")

In [8]:
df['NewData'] = pd.to_datetime(df['Date'])

In [9]:
df

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,NewDate,Month,NewData
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-30,1,2020-01-30
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1,2020-01-31,1,2020-01-31
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2,2020-02-01,2,2020-01-02
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-02,2,2020-02-02
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3,2020-02-03,2,2020-03-02
...,...,...,...,...,...,...,...,...,...,...,...,...
9286,9287,09/12/20,8:00 AM,Telengana,-,-,266120,1480,275261,2020-12-09,12,2020-09-12
9287,9288,09/12/20,8:00 AM,Tripura,-,-,32169,373,32945,2020-12-09,12,2020-09-12
9288,9289,09/12/20,8:00 AM,Uttarakhand,-,-,72435,1307,79141,2020-12-09,12,2020-09-12
9289,9290,09/12/20,8:00 AM,Uttar Pradesh,-,-,528832,7967,558173,2020-12-09,12,2020-09-12
9290,9291,09/12/20,8:00 AM,West Bengal,-,-,475425,8820,507995,2020-12-09,12,2020-09-12

In [10]:
df['Month'] = pd.DatetimeIndex(df['NewDate']).month

df

In [11]:
df = df.drop(['Sno','Time','ConfirmedIndianNational','ConfirmedForeignNational'],axis=1)

In [12]:
df = df.rename(columns={'State/UnionTerritory':'State'})

In [13]:
states = df['State'].unique()

In [14]:
states

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya', 'Dadar Nagar Haveli',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Dadra and Nagar Haveli and Daman and Diu', 'Telangana',
       'Telangana***', 'Telengana***', 'Maharashtra***', 'Chandigarh***',
       'Punjab***'], dtype=object)

In [15]:
df=df.replace('Telengana','Telangana')
df=df.replace('Telengana***','Telangana')
df=df.replace('Telangana***','Telangana')
df=df.replace('Maharashtra***','Maharashtra')
df=df.replace('Chandigarh***','Chandigarh')
df=df.replace('Punjab***','Punjab')

In [16]:
states = df['State'].unique()

In [17]:
states

array(['Kerala', 'Telangana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya', 'Dadar Nagar Haveli',
       'Cases being reassigned to states', 'Sikkim', 'Daman & Diu',
       'Dadra and Nagar Haveli and Daman and Diu'], dtype=object)

In [18]:
df

,Date,State,Cured,Deaths,Confirmed,NewDate,Month,NewData
0,30/01/20,Kerala,0,0,1,2020-01-30,1,2020-01-30
1,31/01/20,Kerala,0,0,1,2020-01-31,1,2020-01-31
2,01/02/20,Kerala,0,0,2,2020-02-01,2,2020-01-02
3,02/02/20,Kerala,0,0,3,2020-02-02,2,2020-02-02
4,03/02/20,Kerala,0,0,3,2020-02-03,2,2020-03-02
...,...,...,...,...,...,...,...,...
9286,09/12/20,Telangana,266120,1480,275261,2020-12-09,12,2020-09-12
9287,09/12/20,Tripura,32169,373,32945,2020-12-09,12,2020-09-12
9288,09/12/20,Uttarakhand,72435,1307,79141,2020-12-09,12,2020-09-12
9289,09/12/20,Uttar Pradesh,528832,7967,558173,2020-12-09,12,2020-09-12
9290,09/12/20,West Bengal,475425,8820,507995,2020-12-09,12,2020-09-12

In [19]:
df.isnull().sum()

Date         0
State        0
Cured        0
Deaths       0
Confirmed    0
NewDate      0
Month        0
NewData      0
dtype: int64

In [26]:
df_MH = df[df.State=='Maharashtra'].reset_index().copy()

In [29]:
df_MH = df_MH.drop('index',axis=1)

In [30]:
rows, columns = df_MH.shape

In [31]:
df_MH

,Date,State,Cured,Deaths,Confirmed,NewDate,Month,NewData
0,09/03/20,Maharashtra,0,0,2,2020-03-09,3,2020-09-03
1,10/03/20,Maharashtra,0,0,5,2020-03-10,3,2020-10-03
2,11/03/20,Maharashtra,0,0,2,2020-03-11,3,2020-11-03
3,12/03/20,Maharashtra,0,0,11,2020-03-12,3,2020-12-03
4,13/03/20,Maharashtra,0,0,14,2020-03-13,3,2020-03-13
...,...,...,...,...,...,...,...,...
271,05/12/20,Maharashtra,1710050,47599,1842587,2020-12-05,12,2020-05-12
272,06/12/20,Maharashtra,1715884,47694,1847509,2020-12-06,12,2020-06-12
273,07/12/20,Maharashtra,1723370,47734,1852266,2020-12-07,12,2020-07-12
274,08/12/20,Maharashtra,1730715,47774,1855341,2020-12-08,12,2020-08-12
275,09/12/20,Maharashtra,1737080,47827,1859367,2020-12-09,12,2020-09-12

In [35]:
for i in range(rows-1,1,-1):
    df_MH.iloc[i,4] -= df_MH.iloc[i-1,4]

In [36]:
df_MH

,Date,State,Cured,Deaths,Confirmed,NewDate,Month,NewData
0,09/03/20,Maharashtra,0,0,2,2020-03-09,3,2020-09-03
1,10/03/20,Maharashtra,0,0,5,2020-03-10,3,2020-10-03
2,11/03/20,Maharashtra,0,0,-3,2020-03-11,3,2020-11-03
3,12/03/20,Maharashtra,0,0,9,2020-03-12,3,2020-12-03
4,13/03/20,Maharashtra,0,0,3,2020-03-13,3,2020-03-13
...,...,...,...,...,...,...,...,...
271,05/12/20,Maharashtra,1710050,127,5229,2020-12-05,12,2020-05-12
272,06/12/20,Maharashtra,1715884,95,4922,2020-12-06,12,2020-06-12
273,07/12/20,Maharashtra,1723370,40,4757,2020-12-07,12,2020-07-12
274,08/12/20,Maharashtra,1730715,40,3075,2020-12-08,12,2020-08-12
275,09/12/20,Maharashtra,1737080,53,4026,2020-12-09,12,2020-09-12

In [17]:
n = len(np.array(Maharashtra_no_cum_sum['Confirmed']))
for i in range(1,n):
    for j in range(2,5):
        Maharashtra_no_cum_sum.iloc[i,j] -= Maharashtra.iloc[i-1,j]

In [18]:
check_neg = np.array(Maharashtra_no_cum_sum['Confirmed']).flatten()

In [19]:
neg_index = []
for i in range(len(check_neg)):
    if(check_neg[i]<0):
        neg_index.append(i)
neg_index

[2, 17]

In [20]:
for i in neg_index:
    Maharashtra.drop(i,axis=0,inplace=True)

In [46]:
Maharashtra_no_cum_sum = Maharashtra.copy()

In [47]:
n = len(np.array(Maharashtra_no_cum_sum['Confirmed']))
for i in range(1,n):
    for j in range(2,5):
        Maharashtra_no_cum_sum.iloc[i,j] -= Maharashtra.iloc[i-1,j]

In [48]:
Maharashtra_no_cum_sum

         Date        State  Cured  Deaths  Confirmed
0    09/03/20  Maharashtra      0       0          2
1    10/03/20  Maharashtra      0       0          3
3    12/03/20  Maharashtra      0       0          6
4    13/03/20  Maharashtra      0       0          3
5    14/03/20  Maharashtra      0       0          0
..        ...          ...    ...     ...        ...
271  05/12/20  Maharashtra   6776     127       5229
272  06/12/20  Maharashtra   5834      95       4922
273  07/12/20  Maharashtra   7486      40       4757
274  08/12/20  Maharashtra   7345      40       3075
275  09/12/20  Maharashtra   6365      53       4026

[274 rows x 5 columns]

In [49]:
Maharashtra_no_cum_sum['Month'] = pd.DatetimeIndex(Maharashtra_no_cum_sum['Date']).month

Maharashtra_no_cum_sum=Maharashtra_no_cum_sum.set_index('Month').sort_index()

In [50]:
Maharashtra_no_cum_sum

         Date        State  Cured  Deaths  Confirmed  Month
0    09/03/20  Maharashtra      0       0          2      9
1    10/03/20  Maharashtra      0       0          3     10
3    12/03/20  Maharashtra      0       0          6     12
4    13/03/20  Maharashtra      0       0          3      3
5    14/03/20  Maharashtra      0       0          0      3
..        ...          ...    ...     ...        ...    ...
271  05/12/20  Maharashtra   6776     127       5229      5
272  06/12/20  Maharashtra   5834      95       4922      6
273  07/12/20  Maharashtra   7486      40       4757      7
274  08/12/20  Maharashtra   7345      40       3075      8
275  09/12/20  Maharashtra   6365      53       4026      9

[274 rows x 6 columns]

In [51]:
Months=Maharashtra_no_cum_sum['Month'].unique()

In [35]:
Months

array([ 9, 10, 12,  3,  1,  2,  4,  5,  6,  7,  8, 11])

In [93]:
dct_months_all={}
for i in Months:
    dct[i] = 0

In [94]:
print(dct)

{9: 0, 10: 0, 12: 0, 3: 0, 1: 0, 2: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 11: 0}

In [96]:
for i in range(274):
        dct[Maharashtra_no_cum_sum.iloc[i,5]] +=  Maharashtra_no_cum_sum.iloc[i,4]

In [97]:
dct

{9: 416773,
 10: 206402,
 12: 64842,
 3: 59502,
 1: 57908,
 2: 61077,
 4: 69423,
 5: 103601,
 6: 133989,
 7: 233407,
 8: 303119,
 11: 149329}