# Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import _pickle as pickle

# Importing Database

In [2]:
df = pd.read_csv('Complete Database.csv')

In [3]:
df[df.Country=='India']

,Unnamed: 0,Authors,Title,Year,Cited by,Country
23567,0,"Jayadeva, Khemchandani, R., Chandra, S.",Twin support vector machines for pattern class...,2007,958.0,India
23568,1,"Ravi, K., Ravi, V.",A survey on opinion mining and sentiment analy...,2015,617.0,India
23569,2,"Varma, M., Zisserman, A.",A statistical approach to material classificat...,2009,479.0,India
23570,3,"Nayak, P.C., Sudheer, K.P., Rangan, D.M., Rama...",A neuro-fuzzy computing technique for modeling...,2004,466.0,India
23571,4,"Kale, A., Sundaresan, A., Rajagopalan, A.N., C...",Identification of humans using gait,2004,445.0,India
...,...,...,...,...,...,...
28945,5378,"Narasimhan, R.",Artificial intelligence in fifth generation co...,1986,0.0,India
28946,5379,"Ramani, S., Chandrasekar, R.",Partitioning computations and parallel processing,1986,0.0,India
28947,5380,"Krishna, M.H., Murty, N.M.",A conceptual clustering scheme for frame-based...,1986,0.0,India
28948,5381,"Krishnamurthy, E.V., Subramanian, K., Mahadeva...","Formal description, compression and transforma...",1974,0.0,India
28949,5382,"Aggarwal, G.K.",On negative character of information,1968,0.0,India

In [4]:
df.head()

,Unnamed: 0,Authors,Title,Year,Cited by,Country
0,0,"Soares, J.V.B., Leandro, J.J.G., Cesar Jr., R....",Retinal vessel segmentation using the 2-D Gabo...,2006,1083.0,Australia
1,1,"Scarselli, F., Gori, M., Tsoi, A.C., Hagenbuch...",The graph neural network model,2009,1031.0,Australia
2,2,"Karantonis, D.M., Narayanan, M.R., Mathie, M.,...",Implementation of a real-time human movement c...,2006,908.0,Australia
3,3,"Mirjalili, S.",Dragonfly algorithm: a new meta-heuristic opti...,2016,865.0,Australia
4,4,"Naseem, I., Togneri, R., Bennamoun, M.",Linear regression for face recognition,2010,768.0,Australia

In [5]:
df.drop('Unnamed: 0',axis='columns',inplace=True)

In [6]:
df = df.rename(columns={'Cited by':'Cited_by'})

In [7]:
df.head()

,Authors,Title,Year,Cited_by,Country
0,"Soares, J.V.B., Leandro, J.J.G., Cesar Jr., R....",Retinal vessel segmentation using the 2-D Gabo...,2006,1083.0,Australia
1,"Scarselli, F., Gori, M., Tsoi, A.C., Hagenbuch...",The graph neural network model,2009,1031.0,Australia
2,"Karantonis, D.M., Narayanan, M.R., Mathie, M.,...",Implementation of a real-time human movement c...,2006,908.0,Australia
3,"Mirjalili, S.",Dragonfly algorithm: a new meta-heuristic opti...,2016,865.0,Australia
4,"Naseem, I., Togneri, R., Bennamoun, M.",Linear regression for face recognition,2010,768.0,Australia

In [8]:
df_without_countries = df.drop('Country',axis='columns')

In [9]:
df_without_countries = df_without_countries.drop_duplicates(subset=['Title'],keep='first')

In [10]:
df_without_countries.shape

(59215, 4)

# Generating Author:database dictonary

In [11]:
authors_lst = list(df_without_countries.loc[:,'Authors'].values)

In [12]:
print(authors_lst[0])

Soares, J.V.B., Leandro, J.J.G., Cesar Jr., R.M., Jelinek, H.F., Cree, M.J.

In [13]:
len(authors_lst)

59215

In [14]:
'''
set_authors = ['Jayadeva', 'Khemchandani, R.', 'Chandra, S.']
for i in range(len(authors_lst)):
    authors_sub_lst = authors_lst[i].split(',')
    authors_sub_lst_mod = []
    if authors_sub_lst == 'Jayadeva, Khemchandani, R., Chandra, S.'.split(','):
        continue
    for j in range(0,len(authors_sub_lst)-1,2):
        authors_sub_lst_mod.append(authors_sub_lst[j].strip()+','+authors_sub_lst[j+1])

    for author in authors_sub_lst_mod:
        if(author not in set_authors):
            set_authors.append(author)
            print(f'{i}\t{author}')
'''

"\nset_authors = ['Jayadeva', 'Khemchandani, R.', 'Chandra, S.']\nfor i in range(len(authors_lst)):\n    authors_sub_lst = authors_lst[i].split(',')\n    authors_sub_lst_mod = []\n    if authors_sub_lst == 'Jayadeva, Khemchandani, R., Chandra, S.'.split(','):\n        continue\n    for j in range(0,len(authors_sub_lst)-1,2):\n        authors_sub_lst_mod.append(authors_sub_lst[j].strip()+','+authors_sub_lst[j+1])\n\n    for author in authors_sub_lst_mod:\n        if(author not in set_authors):\n            set_authors.append(author)\n            print(f'{i}\t{author}')\n"

# Storing Authors Names to a file so that it can be easily availabe afterwards

In [15]:
'''
with open('Authors_list.txt','w') as filehandle:
        filehandle.writelines("%s\n" % author for author in set_authors)
filehandle.close()
'''

'\nwith open(\'Authors_list.txt\',\'w\') as filehandle:\n        filehandle.writelines("%s\n" % author for author in set_authors)\nfilehandle.close()\n'

# Reading Authors from Above file and storing into a python list

In [16]:
# '''
set_authors = []
with open('Authors_list.txt','r') as filehandle:
    filecontents = filehandle.readlines()

    for line in filecontents:
        # remove linebreak which is the last character of the string
        author = line[:-1]

        # add item to the list
        set_authors.append(author)
# '''

In [17]:
len(set_authors)

120159

# Creating Author:Database Dictonary

In [18]:
'''
dct_author_database = {}
count=0
for author in set_authors:
    print(f'{count}\t{author}')    
    
    df_auth = pd.DataFrame(columns = ['Authors', 'Title', 'Year', 'Cited_by'] )
    
    filt= df_without_countries['Authors'].str.contains(author, na=False)
    df_auth= df_without_countries.loc[filt,'Authors':].reset_index(drop=True)         
    
    dct_author_database[author] = df_auth
    
    count += 1
'''

"\ndct_author_database = {}\ncount=0\nfor author in set_authors:\n    print(f'{count}\t{author}')    \n    \n    df_auth = pd.DataFrame(columns = ['Authors', 'Title', 'Year', 'Cited_by'] )\n    \n    filt= df_without_countries['Authors'].str.contains(author, na=False)\n    df_auth= df_without_countries.loc[filt,'Authors':].reset_index(drop=True)         \n    \n    dct_author_database[author] = df_auth\n    \n    count += 1\n"

In [ ]:
# Alterative to above code

'''
dct_author_database = {}

count = 0
for author in set_authors:
    print(f'{count}\t{author}') 
    
    df_auth = pd.DataFrame(columns = ['Authors', 'Title', 'Year', 'Cited_by'] )
    
    for authors in authors_lst:
    
        if author in authors:
            df_tmp = df_without_countries[df_without_countries.Authors==authors]
            df_auth = df_auth.append(df_tmp,ignore_index=True)      
    
    dct_author_database[author] = df_auth
    
    count += 1
'''

# Storing Author:Database dictonary to file so that it can reused again easily

In [19]:
'''
with open('Author_database_dictonary.txt','wb') as file:
    file.write(pickle.dumps(dct_author_database))
file.close()
'''

"\nwith open('Author_database_dictonary.txt','wb') as file:\n    file.write(pickle.dumps(dct_author_database))\nfile.close()\n"

# Reading Author:Database dictonary from Author_database_dictonary.txt file

In [20]:
# '''
dct_author_database_from_file = {}
with open('Author_database_dictonary.txt','rb') as file:
    dct_author_database_from_file = pickle.load(file)
file.close()
# '''

In [21]:
print(type(dct_author_database_from_file))

<class 'dict'>

In [22]:
i = 6
print(set_authors[i])
dct_author_database_from_file[set_authors[i]]

Jelinek, H.F.

,Authors,Title,Year,Cited_by
0,"Soares, J.V.B., Leandro, J.J.G., Cesar Jr., R....",Retinal vessel segmentation using the 2-D Gabo...,2006,1083.0
1,"Rocha, A., Carvalho, T., Jelinek, H.F., Golden...",Points of interest and visual dictionaries for...,2012,96.0
2,"Jelinek, H.F., Cree, M.J., Leandro, J.J.G., So...",Automated segmentation of retinal blood vessel...,2007,47.0
3,"Hassan, M.M., Huda, S., Yearwood, J., Jelinek,...",Multistage fusion approaches based on a genera...,2018,18.0
4,"Abawajy, J., Kelarev, A., Chowdhury, M., Stran...",Predicting cardiac autonomic neuropathy catego...,2013,15.0

# Creating indian authors list and foreign authors list and storing those in file

## Creating Authors_collective list from Indian database

In [23]:
authors_from_ind_database = list(df[df.Country=='India']['Authors'].unique())

## separating individual authors from authors_collective list

In [24]:
'''
set_of_authors_from_indian_database = ['Jayadeva', 'Khemchandani, R.', 'Chandra, S.']

count = 0
for authors in authors_from_ind_database:
       
    authors_sub_lst = authors.split(',')
    
    if authors_sub_lst == 'Jayadeva, Khemchandani, R., Chandra, S.'.split(','):
        continue
    
    authors_sub_lst_mod = []
    for i in range(0,len(authors_sub_lst)-1,2):
            authors_sub_lst_mod.append(authors_sub_lst[i].strip()+','+authors_sub_lst[i+1])
    
    for author in authors_sub_lst_mod:
        if(author not in set_of_authors_from_indian_database):
            set_of_authors_from_indian_database.append(author)
    print(f'{count}\t{authors}')
    count += 1
'''

"\nset_of_authors_from_indian_database = ['Jayadeva', 'Khemchandani, R.', 'Chandra, S.']\n\ncount = 0\nfor authors in authors_from_ind_database:\n       \n    authors_sub_lst = authors.split(',')\n    \n    if authors_sub_lst == 'Jayadeva, Khemchandani, R., Chandra, S.'.split(','):\n        continue\n    \n    authors_sub_lst_mod = []\n    for i in range(0,len(authors_sub_lst)-1,2):\n            authors_sub_lst_mod.append(authors_sub_lst[i].strip()+','+authors_sub_lst[i+1])\n    \n    for author in authors_sub_lst_mod:\n        if(author not in set_of_authors_from_indian_database):\n            set_of_authors_from_indian_database.append(author)\n    print(f'{count}\t{authors}')\n    count += 1\n"

## Storing Indian Authors names to file

In [25]:
'''
with open('India_authors_list.txt','w') as filehandle:
        filehandle.writelines("%s\n" % author for author in set_of_authors_from_indian_database)
filehandle.close()
'''

'\nwith open(\'India_authors_list.txt\',\'w\') as filehandle:\n        filehandle.writelines("%s\n" % author for author in set_of_authors_from_indian_database)\nfilehandle.close()\n'

## Reading Indian Authors names to file

In [26]:
set_of_indian_authors_from_file = []
with open('Indian_authors_list.txt','r') as filehandle:
    filecontents = filehandle.readlines()

    for line in filecontents:
        # remove linebreak which is the last character of the string
        author = line[:-1]

        # add item to the list
        set_of_indian_authors_from_file.append(author)

In [27]:
len(set_of_indian_authors_from_file)

9267

##  Creating Foreign authors list

In [28]:
'''
set_of_foreign_authors = []

count = 0
for author in set_authors:
    if author not in set_of_indian_authors_from_file:
        set_of_foreign_authors.append(author)
        print(f'{count}\t{author}')
        count += 1
'''

"\nset_of_foreign_authors = []\n\ncount = 0\nfor author in set_authors:\n    if author not in set_of_indian_authors_from_file:\n        set_of_foreign_authors.append(author)\n        print(f'{count}\t{author}')\n        count += 1\n"

# Storing Foreign authors in txt file so that it can be reused again easily

In [29]:
'''
with open('Foreign_authors_list.txt','w') as filehandle:
        filehandle.writelines("%s\n" % author for author in set_of_foreign_authors_from_file)
filehandle.close()
'''

'\nwith open(\'Foreign_authors_list.txt\',\'w\') as filehandle:\n        filehandle.writelines("%s\n" % author for author in set_of_foreign_authors_from_file)\nfilehandle.close()\n'

## Reading Foreign authors from foreign authors list file

In [30]:
set_of_foreign_authors_from_file = []
with open('Foreign_authors_list.txt','r') as filehandle:
    filecontents = filehandle.readlines()

    for line in filecontents:
        # remove linebreak which is the last character of the string
        author = line[:-1]

        # add item to the list
        set_of_foreign_authors_from_file.append(author)

In [31]:
print(len(set_of_foreign_authors_from_file))

110892

# Creating a dictonary with foreign author as key and number of paper published by him with india authors as value

In [32]:
'''
dct_foreign_author_coauth_count = {}
for foreign_author in set_of_foreign_authors_from_file:
    dct_foreign_author_coauth_count[foreign_author] = 0
'''

'\ndct_foreign_author_coauth_count = {}\nfor foreign_author in set_of_foreign_authors_from_file:\n    dct_foreign_author_coauth_count[foreign_author] = 0\n'

In [33]:
'''
count = 0
for foreign_author in set_of_foreign_authors_from_file:
    row_foreign_auth_list = dct_author_database_from_file[foreign_author].iloc[:,0].values
    for indian_author in set_of_indian_authors_from_file:
        for authors in row_foreign_auth_list:
            if indian_author in authors:
                dct_foreign_author_coauth_count[foreign_author] += 1
    print(f'{count}     {foreign_author}        {dct_foreign_author_coauth_count[foreign_author]}')
    count += 1 
'''

"\ncount = 0\nfor foreign_author in set_of_foreign_authors_from_file:\n    row_foreign_auth_list = dct_author_database_from_file[foreign_author].iloc[:,0].values\n    for indian_author in set_of_indian_authors_from_file:\n        for authors in row_foreign_auth_list:\n            if indian_author in authors:\n                dct_foreign_author_coauth_count[foreign_author] += 1\n    print(f'{count}     {foreign_author}        {dct_foreign_author_coauth_count[foreign_author]}')\n    count += 1 \n"

# Storing Above dictonary in file so that it can be easily reused again

In [34]:
'''
with open('Foreign_auth_and_their_publication_count_with_india_authors_dct.txt','wb') as file:
    file.write(pickle.dumps(dct_foreign_author_coauth_count))
file.close()
'''

"\nwith open('Foreign_auth_and_their_publication_count_with_india_authors_dct.txt','wb') as file:\n    file.write(pickle.dumps(dct_foreign_author_coauth_count))\nfile.close()\n"

# Storing Above stored dictonary from file and storing it in a python variable

In [35]:
dct_foreign_author_coauth_count_from_file = {}
with open('Foreign_auth_and_their_publication_count_with_india_authors_dct.txt','rb') as file:
    dct_foreign_author_coauth_count_from_file = pickle.load(file)
file.close()

In [36]:
print(len(dct_foreign_author_coauth_count_from_file))

110896